<!-- Start Footer -->
   <footer class="site-footer">
    <div class="container">
      <div class="row">
        <!-- Start Footer Widgets -->
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">About our Church</h4>
          <img src="{{site.url}}assets/images/logo2.png" alt="Logo">
          <div class="spacer-20"></div>
          <p>Blessed Hope Baptist Church is an independent Baptist church located in Mt. Vernon, IL.  It was founded in 2012.</p>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Sermons Archive</a></li>
            <li><a href="#">Pastor's Blog</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title" id="service" >Service Schedule</h4>
          <ul class="sub-menu">
            <li><a href="#">Sunday School</a> <span class="meta-data">Sunday | 109:00 AM</span> </li>
            <li><a href="#">Morning Service</a> <span class="meta-data">Sunday | 11:00 AM</span> </li>
            <li><a href="#">Sunday Evening</a> <span class="meta-data">Sunday | 06:00 PM</span> </li>
            <li><a href="#">Wednesday Night</a> <span class="meta-data">Wednesday | 06:00 PM</span> </li>

          </ul>
                  </div>
      </div>
    </div>
  </footer>
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="copyrights-col-left col-md-6 col-sm-6">
          <p>&copy; 2015 Blessed Hope Baptist Church. All Rights Reserved</p> <a href="http://www.airtable.com" target="blank">Admin Log In </a>
        </div>
        <div class="copyrights-col-right col-md-6 col-sm-6">
          <div class="social-icons"> <a href="https://www.facebook.com/pages/Blessed-Hope-Baptist-Church-in-Mount-Vernon-IL/591991170863042?pnref=lhc&rf=168948383299488" target="_blank"><i class="fa fa-facebook"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>
<script src="{{site.url}}assets/js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call --> 
<script src="{{site.url}}assets/plugins/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin --> 
<script src="{{site.url}}assets/js/helper-plugins.js"></script> <!-- Plugins --> 
<script src="{{site.url}}assets/js/bootstrap.js"></script> <!-- UI --> 
<script src="{{site.url}}assets/js/waypoints.js"></script> <!-- Waypoints --> 
<script src="{{site.url}}assets/plugins/mediaelement/mediaelement-and-player.min.js"></script> <!-- MediaElements --> 
<script src="{{site.url}}assets/js/init.js"></script> <!-- All Scripts --> 
<script src="{{site.url}}assets/plugins/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider --> 
<script src="{{site.url}}assets/plugins/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer -->
</body>
</html>